###########
# Folders #
###########
.hg/
.vs/
.idea/
[Bb]in/
[Oo]bj/
[Pp]ackages/
TEST_RESULTS/
TEST_COVERAGE/
*.Caches/

##############
# Extensions #
##############

*.user
*.orig
