<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Ruleset" Description="Suppressed rules" ToolsVersion="16.0">
    <Rules AnalyzerId="Analysis" RuleNamespace="Analysis">
        <Rule Id="CA1032" Action="None"/>
        <Rule Id="CA1040" Action="None"/>
        <Rule Id="CA1062" Action="None"/>
        <Rule Id="CA1063" Action="None"/>
        <Rule Id="CA1711" Action="None"/>
        <Rule Id="CA1812" Action="None"/>
        <Rule Id="CA1816" Action="None"/>
        <Rule Id="CS8602" Action="None"/>
        <Rule Id="SA1101" Action="None"/>
        <Rule Id="SA1116" Action="None"/>
        <Rule Id="SA1118" Action="None"/>
        <Rule Id="SA1124" Action="None"/>
        <Rule Id="SA1135" Action="None"/>
        <Rule Id="SA1204" Action="None"/>
        <Rule Id="SA1309" Action="None"/>
        <Rule Id="SA1413" Action="None"/>
        <Rule Id="SA1502" Action="None"/>
        <Rule Id="SA1600" Action="None"/>
        <Rule Id="SA1623" Action="None"/>
        <Rule Id="SA1629" Action="None"/>
        <Rule Id="SA1633" Action="None"/>
        <Rule Id="SA1642" Action="None"/>
        <Rule Id="SA1649" Action="None"/>
        <Rule Id="xUnit1030" Action="None"/>
        <Rule Id="VSTHRD103" Action="None"/>
        <Rule Id="VSTHRD200" Action="None"/>
    </Rules>
</RuleSet>